.container {
	width: 80px;
	flex-grow: 1;
	background-color: #bbac9f;
	color: #faf8f1;
	padding: 15px;
	border-radius: 10px;
}

.label {
	font-size: 0.9rem;
	font-weight: bold;
	text-align: center;
}

.score {
	font-size: 1.5rem;
	font-weight: bold;
	text-align: center;
}

@media (max-width: 500px) {
	.container {
		padding: 10px;
	}
	.label {
		font-size: 0.8rem;
	}
	.score {
		font-size: 1.2rem;
	}
}
