.container {
	display: grid;
	grid-template-areas: "title score" "title controls";
	gap: 20px;
}

.title {
	grid-area: title;
	display: flex;
	align-items: flex-start;
}

.titleContainer {
	background-color: #efbd10;
	color: white;
	border-radius: 10px;
	padding: 15px;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	aspect-ratio: 1 / 1;
}

.mainTitle {
	font-family: "Brush Script MT", cursive;
	font-size: 3rem;
	font-weight: bold;
}

.subTitle {
	font-family: "Tahoma", sans-serif;
	font-size: 1rem;
	font-weight: bold;
}

.score {
	grid-area: score;
	display: flex;
	justify-content: flex-end;
	align-items: flex-start;
	gap: 20px;
}

.controls {
	padding: 15px 0;
	grid-area: controls;
	display: flex;
	justify-content: flex-end;
}
